:root{
    --orange: hsl(26, 100%, 55%);
    --dark-orange: hsl(26, 81%, 37%);
    --pale-orange: hsl(25, 100%, 94%);
    --light-cyan: hsl(193, 38%, 86%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: 'Kumbh Sans', sans-serif;
}



/* NAVBAR */


nav{
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-show-btn{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 0 1rem;
}

.icons{
    display: flex;
    align-items: center;
}

.cart-icon{
    margin-right: 1rem;
}

.avatar{
    width: 70px;
    height: 70px;
}



/* CONTAINER */


.container{
    display: flex;
    flex-direction: column;
}








@media only screen and (max-width: 375px){


/* NAVBAR */

    nav{
        position: initial;
        padding: 2rem 1.6rem;
    }

    .nav-show-btn{
        display: block;
        margin-right: 1rem;
    }

    .logo-zone{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }



    .avatar{
        width: 30px;
        height: 30px;
    }

    .cart-zone{
        padding: 1.5rem;
        background-color: white;
        border-radius: 15px;
        position: absolute;
        top: 5rem;
        left: 1rem;
        right: 1rem;
        z-index: 6;
    }


/* CART */

    .cart-title{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px grey;
    }

    .shoe-img-card{
        width: 50px;
        height: 50px;
    }

    .product-cart-zone{
        display: flex;
        margin-bottom: 1.5rem;
    }

    .product-cart-ul{
        display: flex;
        font-size: .875rem;
        flex-direction: column;
    }

    .delete-btn{
        width: 50px;
        height: 50px;
        border: none;
        background: none;
        cursor: pointer;
    }

/* CONTAINER */

    .shoe-img{
        width: 100%;
        height: 290px;
        position: relative;
    }

    .next-prev-img{
        position: absolute;
        left: 1rem;
        right: 1rem;
        display: flex;
        justify-content: space-between;
        top: 25%;
    }

    .left-btn, .right-btn{
        padding: 0.7rem;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    .product-txt-zone{
        margin: 1rem 1.2rem;
    }

    .company-h{
        font-size: 15px;
        letter-spacing: 0.1rem;
        color: var(--orange);
        margin-bottom: 1rem;
    }

    .shoe-title{
        margin-bottom: 1rem;
        font-size: 1.875rem;
        font-weight: 700;
    }

    .shoe-description{
        color: var(--dark-grayish-blue);
        line-height: 1.4rem;
    }

    .shoe-prices{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .price-set{
        display: flex;
        margin-bottom: 1rem;
    }

    .price-set-ul{
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .price{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .discount{
        font-size: .875rem;
        padding: .25rem .5rem .25rem .5rem;
        margin-left: .15rem;
        background-color: var(--pale-orange);
        border-radius: .25rem;
        font-weight: 700;
        color: var(--orange);
    }

    .original-price{
        text-decoration: line-through;
        color: var(--grayish-blue);
    }

    .add-more-btns{
        display: flex;
        justify-content: space-between;
        background-color: var(--light-grayish-blue);
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .minus-btn, .more-btn{
        display: flex;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
    }

    .add-btn{
        width: 100%;
        padding: 1.2rem;
        border-radius: 15px;
        background-color: var(--orange);
        border: none;
        color: white;
        font-weight: 800;
        margin-bottom: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .add-btn:hover{
        background-color: var(--dark-orange);
    }

    .cart-btn-icon{
        width: 26px;
        height: 15px;
    }
}


.hide{
    display: none;
}